// Fonts
$BaseFont: "Helvetica", Arial, sans-serif;
$LightSansSerif: 'HelveticaNeueW01-45Ligh', $BaseFont;
$SansSerif: 'HelveticaNeueW01-55Roma', $BaseFont;
$MediumSansSerif: 'HelveticaNeueW01-65Medi', $BaseFont;
$BoldSansSerif: 'HelveticaNeueW01-75Bold', $BaseFont;


// Colors
$grayBg: #ebebeb;
$grayHeadings: #3c3c3c;
$grayText: #696969;
$grayRecipes: #343434;
$red: #ff0000;
$redDarker: #ec0000; 